body {
    color: #fff;
    background-image: linear-gradient(to right, #26022a , #000);
    font-family: sans-serif;
}
a {
    color: gold;
}
.main {
    margin-left: 3%;
}
.hh {
    margin-top: 10px;
}
p {
    margin-top: 0px;
    margin-bottom: 0;
    margin-left: 5%;
}
h1 {
    margin-top: 2vh;
    margin-bottom: 2vh;
}
h3 {
    margin-top: 1.3vh;
    margin-bottom: 0;
}
h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}
#shadowBox {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.2);
    border: 3px solid;
}

.rainbow {
    text-align: center;
}
.rainbow_text_animated {
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}